<h2>Welcome to Fwitter!</h2>

<nav>
  <% if logged_in? %>
<a href="/logout"><button>Log Out</button></a>

  <% else %>
  <a href="/signup"><button>Sign Up</button></a>
  <a href="login"><button>Log In</button></a>
<% end %>

</nav>
